:root {
    --maintFont: 'Montserrat', sans-serif;
    --titleFont: 'Fraunces', serif;
    /* Primary Colors */
    --darkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* Neutral Colors */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
h1, .product-price {
    color: var(--veryDarkBlue);
    font-family: var(--titleFont);
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}
.container {
    width: 343px;
    height: 611px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
}
.product-image {
    width: 343px;
    height: 240px;
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.product-info {
    width: 343px;
    height: 371px;
}
@media (min-width: 375px) {
    .container {
        width: 600px;
        height: 450px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
    .product-image, .product-info {
        width: 300px;
        height: 450px;
    }
    .product-image {
        background-image: url(../images/image-product-desktop.jpg);
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }
}

.product-info {

    padding: 32px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-type p {
    font-family: var(--maintFont);
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: var(--darkGrayishblue);
    margin: 0;
}
.product-description p {
    color: var(--darkGrayishblue);
    font-family: var(--maintFont);
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    margin: 0;

}
.product-price {
    display: flex;
    align-items: center;
    gap: 19px;
}
.price {
    color: var(--darkCyan);
}
.original-price {
    color: var(--darkGrayishblue);
    font-family: var(--maintFont);
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    text-decoration: line-through;
}
.add-to-cart {
    width: 236px;
    height: 48px;
    background-color: var(--darkCyan);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.add-to-cart img {
    height: 16px;
}
.add-to-cart p {
    font-family: var(--maintFont);
    font-weight: 700;
    color: var(--white);
    font-size: 14px;

}